@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";

/* -------------------------
   Fonts
------------------------- */
:root {
  --font-inter: "Inter", sans-serif;

  /* Bg colors */
  --color-bg-default: #0B0F14;
  --color-bg-blue: #3B82F6;
  --color-bg-secondary: #1F2937;

  /* Text colors */
  --color-text-primary: #E5E7EB;
  --color-text-secondary: #9CA3AF;
  --color-text-blue: #3B82F6;
  /* border colors */
  --color-border-default: rgba(255, 255, 255, 0.05);
  --color-border-primary: #FFFFFF;
  
  /* Border radius */
  --radius: 0.625rem;
}

/* Base styles */
@layer base {
  html {
    font-family: var(--font-inter);
  }

  body {
    background-color: var(--color-bg-default);
    color: var(--color-text-primary);
    font-family: var(--font-inter);
  }

  /* Optional: apply border / ring defaults */
  * {
    border-color: var(--color-border-default);
    outline-color: var(--color-bg-primary);
  }

  button {
    cursor: pointer;
  }
}

/* Font utility class*/
.font-inter {
  font-family: var(--font-inter) !important;
}

/* classes to use */
.bg-default {
  background-color: var(--color-bg-default) !important;
}

.bg-blue {
  background-color: var(--color-bg-blue) !important;
}

.bg-secondary {
  background-color: var(--color-bg-secondary) !important;
}

.text-primary {
  color: var(--color-text-primary) !important;
}

.text-secondary {
  color: var(--color-text-secondary) !important;
}

.text-blue {
  color: var(--color-text-blue) !important;
}

/* Rounded radius */
/* .rounded {
  border-radius: var(--radius);
} */

/* border classes */
.border-default {
  border-color: var(--color-border-default) !important;
}

.border-primary {
  border-color: var(--color-border-primary) !important;
}

/* Hide scrollbar utility */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}


